.LyricsPage {
    display: flex;
    flex-direction: column;
    height: 100%
}

.LyricsPage .Search{
    width: auto;
}

.LyricsPage .logo-small {
    font-size: 4rem;
}

.LyricsPage .inner-main {
    padding-top: 3rem;
    text-align: left;
}

.LyricsPage .inner-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 3rem;
}

.LyricsPage .logo {
    flex-grow: 2;
}

.LyricsPage .search {
    width: auto;
    padding: 1rem;
}

.LyricsPage .title {
    font-weight: bold;
    font-size: 2.5rem;
}

.LyricsPage .artist {
    font-weight: normal;
    font-size: 1.8rem;
}

.LyricsPage .lyrics {
    white-space: pre-wrap;
}

.LyricsPage .header-details {
    background-color: #3E66D0;
    width: 90rem;
    padding-bottom: 2rem;
    position: relative;
}

.LyricsPage .meta-info {
    position: absolute;
    z-index: 1;
    left: 3rem;
}

.LyricsPage .song-details {
    text-align: left;
    padding-left: 28rem;
}

.LyricsPage .album-cover img {
    width: 20rem;
    height: 20rem;
}

.LyricsPage .lyrics {
    font-size: 1.4rem;
    text-align: left;
    width: 100%;
    padding-left: 28rem;
    padding-bottom: 3rem;
}

.LyricsPage .suggestions {
    background-color: #3E66D0;
    width: 100%;
    padding: 2rem 0;
}

.LyricsPage .carousel-wrapper {
    width: 90%;
    margin: auto;
}

.LyricsPage .suggestions-title {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.LyricsPage .release-date{
    font-size: 1.2rem;
}

.LyricsPage .info-container {
    padding-top: 1rem;
    padding-left: 0.5rem;
    line-height: 1.4rem;
    font-size: 1.2rem;
    color: black;
    box-sizing: border-box;
}

.LyricsPage .info-container-small{
    padding: 0;
    display: none;
    color: white;
}

@media only screen and (max-width: 1400px) {
    .LyricsPage .inner-header {
        width: 100%;
        display: block;
    }

    .LyricsPage .info-container-small{
        display: block;
    }

    .LyricsPage .info-container{
        display: none;
    }

    .LyricsPage .header-details {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .LyricsPage .header-details>* {
        padding-left: 0;
        left: 0;
        text-align: center;
    }

    .LyricsPage .lyrics {
        padding-left: 0;
        text-align: center;
    }

    .LyricsPage .inner-main {
        width: 100%;
    }

    .LyricsPage .logo {
        font-size: 3rem;
        text-align: center;
    }

    .LyricsPage .meta-info{
        position: relative;
    }
}

@media only screen and (max-width: 600px) {
    .LyricsPage .meta-info{
        width: auto;
        margin-left: 0;
    }

    .LyricsPage .lyrics {
        padding: 0.5rem;
    }
}