.ResultCard {
    background-color: white;
    width: 70%;
    margin: 1.2rem 0;
    padding: 2rem 3rem;
}

.ResultCard .bottom {
    display: flex;
    flex-direction: row;
}

.ResultCard .top {
    text-align: left;
}

.ResultCard .left {
    flex-grow: 1;
    text-align: left;
}

.ResultCard .lyrics {
    white-space: pre-wrap;
}

.ResultCard .title {
    font-weight: bold;
    font-size: 2.5rem;
}

.ResultCard .artist {
    font-weight: normal;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.ResultCard .album-cover {
    overflow: hidden;
    height: 12rem;
    width: 12rem;
}

.ResultCard .album-cover>img {
    display: block;
    min-width: 100%;
    min-height: 100%;
}

.ResultCard .button-lyrics button {
    background-color: #3E66D0;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.2rem 0.3rem;
    border-radius: 2rem;
    transition-duration: 0.4s;
    cursor: pointer;
}

.ResultCard .button-lyrics button:hover {
    background-color: #315ACA;
    color: white;
}

.ResultCard .button-lyrics a:visited,
.ResultCard .button-lyrics a:link {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1200px) {
    .ResultCard {
        width: 100%;
    }

    .ResultCard > .top, .ResultCard > .bottom{
        align-items: center;
        text-align: center;
    }

    .ResultCard .bottom {
        flex-direction: column-reverse;
    }

    .ResultCard .right {
        margin-bottom: 2rem;
    }
}

.ResultCard .button-lyrics button {
    background-color: #3E66D0; 
    border: none;
    color: white; 
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.2rem 0.3rem;
    border-radius: 2rem;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .ResultCard .button-lyrics button:hover {
    background-color: #294CAB;
    color: white;
  }

  .ResultCard .button-lyrics a:visited, .button-lyrics a:link{
    text-decoration: none;
    color: white;
}
  