.Search {
    width: 80%;
    margin: auto;
    text-align: left;
    position: relative;
    padding-bottom: 2rem;
}

.Search .search-box>div:nth-child(2){
    display: none;
}

.Search .search-box {
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0rem 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
    border-radius: 3rem;
    color: black;
    height: 3rem !important;
    text-align: left ;
    outline: none;
    border: none;
    font-size: 1.5rem !important;
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    transition: box-shadow 0.3s ease-in-out;
}

.Search .error-border{
    box-shadow: 0 0 5px 4px hsl(0, 100%, 50%) !important;

}

.Search div[data-ui-name="ButtonTrigger.Text"]{
    width: 100%;
}

#ui-kit-1{
    
    min-width: 15rem !important;
    margin-left: 2rem !important;
}

.Search .search-box:-webkit-autofill::first-line{
    font-size: 1.5rem;
}

.Search .search-box-wrapper {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.Search .fa-search-icon {
    position: absolute;
    left: 1.2rem;
    z-index: 1;
    top: 0;
    bottom: 0;
    margin: auto;
    color: gray;
    cursor: pointer;
    font-size: 1.3rem;
}

.Search .fa-times-icon {
    position: absolute;
    z-index: 1;
    right: 2rem;
    top: 0;
    bottom: 0;
    margin: auto;
    color: gray;
    font-size: 1.3rem;
    cursor: pointer;
}

.Search .fa-times-icon:hover,
.Search .fa-search-icon:hover {
    color: darkgray
}

.Search .advanced-options-box {
    color: rgb(255, 255, 255);
    margin-top: 1.2rem;
    font-size: 1rem;
    position: relative;
    z-index: 2;
    width: 26rem;
    background-color: hsl(0, 0%, 32%);  
    padding: 0.4rem;
    border-radius: 4px;  
}

.Search .advanced-options-no-stretch {
    position: absolute;
}


.Search .MuiSlider-markLabel {
    color: white !important;
}

.Search .queries-row {
    margin: 1.5rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 26rem;
}

.Search .option-row {
    margin-top: 0.5rem
}

.Search .option-row>* {
    display: block;
    margin: 0.24rem 0.5rem;
}

.Search .option-row-switch:first-child {
    margin: 0.24rem 0.5rem;
}

.Search .option-row>span>* {
    max-width: 15rem ;
}

.Search .template-button {
    background-color: hsl(0, 0%, 32%) !important;
    color: white !important;
    font-size: 1rem !important;
}

.Search .template-button:hover {
    background-color: hsl(0, 0%, 24%) !important;
}

.Search .MuiSlider-root.MuiSlider-colorPrimary {
    color: rgb(255, 255, 255);
}

.Search .MuiSlider-root.MuiSlider-colorPrimary>span>span>span>span {
    color: rgb(0, 0, 0);
}

.Search .MuiSlider-markLabel {
    color: white;
}

.Search .error{
   position: absolute;
   background-color: #CA1C39;
   padding: 0.1rem 0.4rem;
   margin-left: 3rem;
   margin-top: -0.45rem;
   border-radius: 4px;
   font-size: 0.9rem;
   z-index: 1;
}

.Search .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track{
    opacity: 0.9;
}

.Search .MuiSwitch-track{
    opacity: 0.3
}

@media only screen and (max-width: 1400px) {
    .Search .queries-row > *{
        margin: 0 0.5rem 0 0;
    } 

    .Search .queries-row{
        justify-content: flex-start;
    }
    
    .Search .advanced-options-box{
        max-width: 24.8rem;

    }
}

@media only screen and (max-width: 600px) {
    .Search{
        width: 100%;
    }

    .Search .advanced-options-box {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .Search .advanced-options-no-fullscreen.advanced-options-no-stretch{
        margin: 0;
    }

    .Search .queries-row {
        width: 100%;
        flex-direction: column;
        margin: 1rem 0 0 0;
    }

    .Search button.template-button {
        margin-bottom: 1rem;
        margin-right: 0;
    } 

}