.Search {
    width: 80%;
    margin: auto;
    text-align: left;
    position: relative;
}

.Search .search-box {
    box-sizing: border-box;
    background-color: white;
    filter: drop-shadow(0rem 0.25rem 0.2rem rgba(0, 0, 0, 0.25));
    border-radius: 3rem;
    color: black;
    height: 3rem;
    text-align: left;
    outline: none;
    border: none;
    font-size: 1.5rem;
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
}

.Search .search-box-wrapper {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.Search .fa-search-icon {
    position: absolute;
    left: 1.2rem;
    top: 0;
    bottom: 0;
    margin: auto;
    color: gray;
    cursor: pointer;
    font-size: 1.3rem;
}

.Search .fa-times-icon {
    position: absolute;
    right: 2rem;
    top: 0;
    bottom: 0;
    margin: auto;
    color: gray;
    font-size: 1.3rem;
    cursor: pointer;
}

.Search .fa-times-icon:hover,
.Search .fa-search-icon:hover {
    color: darkgray
}

.Search .advanced-options-box {
    color: white;
    margin-top: 1.2rem;
    margin-left: 3rem;
    font-size: 1rem;
    position: relative;
    z-index: 2;
    width: 20rem;
}

.Search .advanced-options-no-stretch {
    position: absolute;
}

.Search .advanced-options-no-fullscreen.advanced-options-no-stretch {
    background-color: #4e7bec;
    padding: 0.3rem 0.5rem 0.3rem 0.3rem;
    border-radius: 4px;
}

.Search .advanced-options-fullscreen.advanced-options-no-stretch div[data-ui-name="Item.Collapse"] + .fix {
    padding-bottom: 7rem;
}

.Search .MuiSlider-markLabel {
    color: white !important;
}

.Search .queries-row {
    margin: 1.5rem 0rem 0rem 3rem;
    display: flex;
    flex-direction: row;
}

.Search .queries-row>button {
    margin-right: 1rem;
}

.Search .option-row {
    margin-top: 0.5rem;
}

.Search .option-row>* {
    display: block;
    margin: 0.24rem 0.5rem;
}

.Search .option-row>span>* {
    max-width: 15rem ;
}

.Search .template-button {
    background-color: #4e7bec !important;
}

.Search .template-button:hover {
    background-color: #6b93f8 !important;
}

.Search .MuiSlider-root.MuiSlider-colorPrimary {
    color: white;
}

.Search .MuiSlider-root.MuiSlider-colorPrimary>span>span>span>span {
    color: black;
}

.Search .MuiSlider-markLabel {
    color: white;
}

@media only screen and (max-width: 1400px) {
    .Search .advanced-options-box {
        position: relative;
    }
}

@media only screen and (max-width: 600px) {
    .Search{
        width: 100%;
        padding: 0 1rem;
    }

    .Search .advanced-options-box {
        width: auto;
        margin: 0;
    }

    .Search .queries-row {
        flex-direction: column;
        margin-left: 0;
    }

    .Search button.template-button {
        margin-bottom: 1rem;
        margin-right: 0;
    } 
}
