.suggestion-card{
    padding: 1rem;
    color: white;
    margin: 1rem;
}

.suggestion-album-cover {
    height: 20rem;
    width: 20rem;
}

.suggestion-album-cover img{
    max-width:100%;
    max-height:100%;
}

.suggestion-card .title{
    margin-top: 1rem;
    font-size: 2rem;
}

.suggestion-card .author{
    font-size: 1.6rem;
    margin-top: 0.8rem;
}

.suggestion-card a:link, .suggestion-card a:visited, .suggestion-card a:hover, .suggestion-card a:active {
    text-decoration: none;
    color: white
  }
  
  .suggestion-card:hover{
      background-color: #4473eb;
  }