.SuggestionCard {
    padding: 1rem;
    color: white;
    margin: 1rem;
    text-align: center;
}

.SuggestionCard .suggestion-album-cover img {
    max-width: 100%;
    max-height: 100%;
}

.SuggestionCard .title {
    margin-top: 1rem;
    font-size: 2rem;
}

.SuggestionCard .author {
    font-size: 1.6rem;
    margin-top: 0.8rem;
}

.SuggestionCard a:link,
.SuggestionCard a:visited,
.SuggestionCard a:hover,
.SuggestionCard a:active {
    text-decoration: none;
    color: white
}

.SuggestionCard:hover {
    background-color: #4473eb;
}
