@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

html {
    width: 100%;
}

html,
body,
#root,
.App {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.header {
    flex: 0 1 auto;
    background-color: #294CAB;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    transition: all 1s;
}

.inner-header {
    background-color: #3E66D0;
    width: 90rem;
    padding-bottom: 2rem;
}

.logo {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 6rem;
    font-style: normal;
    font-weight: normal;
    color: white;
    margin-bottom: 1rem;
}

.logo a:visited,
.logo a:link,
.logo a {
    text-decoration: none;
    color: white;
}

.fa-angle-down-icon {
    vertical-align: bottom;
}

.main {
    flex: 1 1 auto;
    background-color: #EAEFFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner-main {
    background-color: #F5F6FF;
    width: 90rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}