@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');


@keyframes loading {
  from {background-color: rgb(214, 214, 214);}
  to {background-color: rgb(231, 231, 231);}
}

html{
  width: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}
 
.header {
  background-color: #244AA7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.inner-header {
  background-color: #3E66D0;
  width: 90rem;
  padding-bottom: 2rem;
}

.logo{
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 8rem;
  font-style: normal;
  font-weight: normal;
  color: white;
}

.fa-angle-down-icon{
  vertical-align: bottom;
}

.main{
  background-color: #EAEFFD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.inner-main{
  background-color: #F5F6FF;
  width: 90rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.2rem;
}

.header-full{
  min-height:100vh;
  background-color: #3E66D0;
}

.placeholder{
  animation: loading 1s linear infinite alternate;
  width: 70%;
  height: 20rem;
  margin: 1.2rem 0;
}


@media only screen and (max-width: 1400px) {
  .inner-header{
    width: 100%;
  }

  .inner-main{
    width: 100%;
  }
} 


@media only screen and (max-width: 1200px) {
  .logo{
      font-size: 6rem;
  }
}